
:root {
    --border_style:  2px solid #202020;
    --border_radius: 16px;
}


/*** Global default style ***/
* {
    /* Prevent text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

    /* Prevent dragging */
        -webkit-user-drag: none;
         -khtml-user-drag: none;
           -moz-user-drag: none;
             -o-user-drag: none;
                user-drag: none;

    /* Disable touch zoom */
             touch-action: pan-y;

    /* Default font */
    font-family:        Courier New, monospace;
}

/*** Game screen ***/
#game-screen {
    /* Screen size */
    width:              calc(100vw - 20px);
    max-width:          480px;
    min-width:          320px;

    margin-left:        auto;
    margin-right:       auto;

    background-color:   #B0DDFF; /* #92D2F2, #B0DDFF*/
}

/*
@media screen and (max-width: 520px) {
    #game-screen {
        width:          calc(100vw - 20px);
    }
}
*/

/*** Game controls ***/
#game-controls {
    margin-top:     10px;

    display:        flex;
}

#game-controls:after {
    content:        "";
    clear:          both;
    display:        block;
}

.button {
    /* Behaviour */
    display:        block;

    /* Appearance */
    color:          #000000;
    background:     #67BFEC;
    border:         var(--border_style);
    border-radius:  var(--border_radius);

    /* Size */
    width:          64px;
    height:         40px;
    padding:        0;

    /* Text position */
    font-size:      24px;
    text-align:     center;

/*    box-shadow:         3px 3px 5px rgb(0,0,0); */
}


.button:active {
/*    box-shadow:         none; */
    background:     #B0DDFF;
}

.button:disabled {
    opacity: 0.3;
}

.level {
    font-size:      32px;
    font-weight:    bold;

    margin:         auto;
}

/*** Game board ***/
#game-board {
    margin-top:     5px;

    background:     #67BFEC;

    border:         var(--border_style);
    border-radius:  var(--border_radius);

    position:       relative;

    /* Disable scroll with touch */
/*    touch-action:   none; */
}

.grid-row:after {
    content:        "";
    clear:          both;

    display:        block;
}

.grid-cell {
    margin:         0;
    float:          left;
}

.grid-image {
    margin:         auto;

    /* Scale image always to fill whole div */
    max-width:      100%;
    max-height:     100%;
    width:          auto;
    height:         100%;

    display:        block;
}


.frame {
    position:       absolute;
    transform:      translate(-50%, -50%);

    /* Disable scroll with touch */
    touch-action:   none;
}

/*** Game copyright ***/
#game-copyright {
    margin-top:     1px;

    font-size:      12px;
    text-align:     center;
}

/*** Game title ***/
#game-title {
    margin-top:     10px;

    font-size:      36px;
    font-weight:    bold;

    text-align:     center;
}

/*** Game instructions ***/
#game-instructions {
    margin-top:     5px;

    font-size:      18px;
    text-align:     center;
}
