
:root {
    --border_style:  2px solid #202020;
    --border_radius: 16px;
}


/*** Global default style ***/
* {
    /* Prevent text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

    /* Prevent dragging */
        -webkit-user-drag: none;
         -khtml-user-drag: none;
           -moz-user-drag: none;
             -o-user-drag: none;
                user-drag: none;

    /* Disable touch zoom */
    touch-action: pan-y, pan-x;

}

/*** Game screen ***/
#game-screen {
    /* Default font */
    font-family:        Courier New, monospace;

    /* Screen size */
    width:              min(480px, calc(100vw - 20px));

    margin-left:        auto;
    margin-right:       auto;

    background-color:   #B0DDFF; /* #92D2F2, #B0DDFF*/

/*    overflow: hidden;
    position: fixed;
*/
}

/*
@media screen and (max-width: 520px) {
    #game-screen {
        width:          calc(100vw - 20px);
    }
}
*/

/*** Game controls ***/
#game-controls {
    margin-top:         10px;

    display: flex;
}

#game-controls:after {
    content:            "";
    display:            block;
    clear:              both;
}

.button {
    display:            block;

    color:              #000000;
    background:         #67BFEC;

    border:             var(--border_style);
    border-radius:      var(--border_radius);

    /* Size */
    width:              60px;
    height:             30px;
    line-height:        32px;

    /* Text position */
    font-size:          24px;
    text-align:         center;
}

.level {
    font-size:          32px;
    font-weight:        bold;

    margin:             auto;
}

/*** Game board ***/
#game-board {
    margin-top:         10px;

    cursor:             cell;
    background:         none;

    background-image:   url("../images/background1200.png");
    background-repeat:  repeat;

    border:             var(--border_style);
    border-radius:      var(--border_radius);

    position:           relative;

    /* Disable scroll with touch */
    touch-action:   none;
}

.grid-row:after {
    content:        "";
    display:        block;
    clear:          both;
}

.grid-cell {
    /* Margins */
    margin:         0;

    /* Position */
    float:          left;
}

.grid-image {
    display:        block;
    margin:         auto;

    /* Scale image always to fill whole div */
    max-width:      100%;
    max-height:     100%;
    width:          auto;
    height:         100%;
}


.frame {
    position:       absolute;
    transform:      translate(-50%, -50%);

    /* Disable scroll with touch */
    touch-action:   none;
}

/*** Game copyright ***/
#game-copyright {
    margin-top:     1px;

    font-size:      12px;
    text-align:     center;


}

/*** Game title ***/
#game-title {
    margin-top:     10px;

    font-size:      36px;
    font-weight:    bold;

    text-align:     center;
}

/*** Game instructions ***/
#game-instructions {
    margin-top:     5px;

    font-size:      18px;
    text-align:     center;
}
