
:root {
    --border_style:  2px solid #202020;
    --border_radius: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#game-screen {
    /* Prevent text selection*/
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

    /* Default font */
    font-family: Courier New, monospace;

    /* Screen size */
    width:          500px;

    margin-left:    auto;
    margin-right:   auto;
    margin-top:     10px;
    margin-bottom:  10px;

    background-color: #B0DDFF; /* #92D2F2, #B0DDFF*/
}

@media screen and (max-width: 520px) {
    #game-screen {
/*        width:          100vw; */
        width:          calc(100vw - 20px);
    }
}

#game-title {
    font-size:          36px;
    font-weight:        bold;

    text-align:         center;

    margin-bottom:      10px;
}

#game-instructions {
    margin-top:         10px;

    font-size:          18px;
    text-align:         center;
}

#game-board {
    margin-top:         10px;

    cursor:             cell;
    background:         none;

    background-image:   url("../images/background1200.png");
    background-repeat:  repeat;

    border:             var(--border_style);
    border-radius:      var(--border_radius);
}

#game-copyright {
    font-size:          12px;
    text-align:         center;
}

#game-controls {
    margin-top:         20px;
}

#game-controls:after {
    content:            "";
    display:            block;
    clear:              both;
}

.button {
    display:            block;

    color:              #fcfcfc;
    background:         #67BFEC;

    border:             var(--border_style);
    border-radius:      var(--border_radius);

    /* Size */
    width:              160px;
    height:             30px;
    line-height:        32px;

    /* Text position */
    font-size:          24px;
    text-align:         center;
}

.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    --size:   54px;

    /* Cell size */
    width:          var(--size);
    height:         var(--size);

    /* Margins */
    margin-right:   0px;
    margin-bottom:  0px;

    /* Position */
    float:          left;
}

.grid-image {
    /* Scale image always to fill whole div */
    max-width:  100%;
    max-height: 100%;
    width:      100%;
    height:     100%;
}

